.DS_Store
.Rhistory
LG_TEMP/*
*.fasta
*.snakemake.log
*.fastq.gz
*.fq.gz
.snakemake/
*.jf
*.histo
temp.sh
*_model.txt
*_progress.txt
*_summary.txt
*.gif
*.pdf
*.summary_table.tsv
*~
*#*
# cython is being used more frequently by base python, so this pops up easily
__pycache__
*.pyc
# specific ignore patterns for this project
*.check
*.hmm
*.rbh
LG_db/*/
._*
slurm-*
make_submit.sh
dataformat
datasets
DELETEME*
DELETE*
dev_scripts/*/*.yaml
run_script.sh
# testing files
tests/test_odp_basic/odp/
tests/test_odp_basic/.snakemake/
tests/test_odp_basic/benchmarks/

.vscode/settings.json
